table.Grid {
    border-collapse: collapse;
}

table.Grid td, table.Grid th {
    border: solid 1px #ccc;
    padding: 3px 10px;
}

.ContentGrid {
    margin: 0px 0px 5px;
}

.ActionBar button {
    font-size: 1.2em;
}

.FormField {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    float: left;
    width: 610px;
}

.FormField .Name {
    float: left;
    width: 100px;
    line-height: 20px;
    padding: 0px 10px 0px 0px;
}

.FormField .Value {
    line-height: 20px;
}

.Clear {
    clear: both;
}

.Message {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #cfc;
    float: left;
    margin: 0px 0px 5px 0px;
}

.TopMenuSimple {
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #ddd;
    float: left;
}

.TopMenuSimple ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.TopMenuSimple ul li {
    display: block;
    float: left;
    padding: 5px 10px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #ddd;
}

.TopMenuSimple ul li.First {
    border-left-width: 0px;
}

.Paging ul {
    padding: 0px;
    margin: 0px;
}

.Paging ul li {
    float: left;
    padding: 5px;
    font-size: 1.2em;
}

.FloatLeft {
    float: left;
}
