<head>
<link type="text/css" rel="stylesheet" href="/s.css">

[% IF 0 %]
<link
    type="text/css"
    rel="stylesheet"
    href="/js/ext-6.0.0/build/classic/theme-crisp/resources/theme-crisp-all.css">

<script type="text/javascript" src="/js/ext-6.0.0/build/ext-all.js"></script>
<script
    type="text/javascript"
    src="/js/ext-6.0.0/build/classic/theme-crisp/theme-crisp.js"></script>

<script type="text/javascript" src="/js/ext-6.0.0/build/packages/ux/modern/ux.js"></script>
[% END %]
</head>
