<style>
<!--
.FormField {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    float: left;
    width: 610px;
}

.FormField .Name {
    float: left;
    width: 120px;
    line-height: 20px;
    padding: 0px 15px 0px 0px;
    overflow: hidden;
}

.FormField .Value {
    line-height: 20px;
}

.Clear {
    clear: both;
}

.Message {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #cfc;
    float: left;
    margin: 0px 0px 5px 0px;
}
-->
</style>

<h1>[% translate('ru', ObjectName) %]</h1>

[% IF Messages.size %]
    [% FOR m IN Messages %]
        <div class="Message">[% translate('ru', m) %]</div>
    [% END %]
    <div class="Clear"></div>
[% END %]

[% IF RefTemplates.size %]
<div class="References">
<ul>
    [% FOR t IN RefTemplates %]
    <li>[% t.Description %] ([% t.Count %])</li>
    [% END %]
</ul>
</div>
[% END %]

<form action="/cgi-bin/fcgi.pl" method="post">
    <input type="hidden" name="a" value="ItemForm">
    <input type="hidden" name="o" value="[% ObjectName %]">
    <input type="hidden" name="id" value="[% Data.ID %]">

    [% FOR f IN Fields %]
    <div class="FormField">
        <div class="Name">[% translate('ru', (f.HTML.Label || f.Name)) %]</div>
        <div class="Value">
            [% IF f.Type == 'String' %]
                <input type="text" name="[% f.Name %]" value="[% Data.${f.Name} %]" style="width: 400px;">
            [% ELSIF f.Type == 'Text' %]
                <textarea name="[% f.Name %]" style="width: 400px; height: 100px;">[% Data.${f.Name} %]</textarea>
            [% ELSIF f.Type == 'Integer' %]
                <input type="text" name="[% f.Name %]" value="[% Data.${f.Name} %]">
            [% ELSIF f.Type == 'Decimal' %]
                <input type="text" name="[% f.Name %]" value="[% Data.${f.Name} %]">
            [% ELSIF f.Type == 'DateTime' %]
                <input type="text" name="[% f.Name %]" value="[% Data.${f.Name} %]" readonly="readonly">
            [% ELSIF f.Type == 'Reference' %]
                <input type="text" name="[% f.Name %]" value="[% Data.${f.Name} %]" readonly="readonly">
            [% ELSIF f.Type == 'Boolean' %]
                <input type="checkbox" name="[% f.Name %]" value="1"
                    [%- IF Data.${f.Name} %] checked[% END -%]>
            [% ELSE %]
                Value type: [% f.Type %]
            [% END %]
        </div>
    </div>
    <div class="Clear"></div>
    [% END %]

    <div class="ActionBar">
        <button name="submit" value="1">[% translate('ru', 'Save') %]</button>
    </div>

</form>
