<style>
<!--
table.Grid {
    border-collapse: collapse;
}

table.Grid td, table.Grid th {
    border: solid 1px #ccc;
    padding: 3px 10px;
}

.ContentGrid {
    margin: 0px 0px 5px;
}

.ActionBar button {
    font-size: 1.2em;
}
-->
</style>

<h1>[% translate('ru', plural(ObjectName)) %]</h1>

<form action="/cgi-bin/fcgi.pl">
    <input type="hidden" name="o" value="[% ObjectName %]">

[% TMPL = 'ShowItems/' _ ObjectName _ '.html' %]

[%# TRY %]

    <div class="ContentGrid">
    [% TRY %]
        [% INCLUDE $TMPL %]
    [% CATCH %]
        [%# INCLUDE 'ShowItems/DefaultExtJS.html' %]
        [% INCLUDE 'ShowItems/Default.html' %]
    [% END %]
    </div>

    <div class="ActionBar">
        [% IF Items.size %]
        <button name="a" value="DeleteItems">[% translate('ru', 'Delete') %]</button>
        [% END %]
        <button name="a" value="ItemForm">[% translate('ru', 'Add') %]</button>
    </div>

[%# CATCH %]
[% IF 0 %]
    Invalid template [% $TMPL %]
[% END %]
[%# END %]

</form>
