<div class="TopMenuSimple">
    <ul>
    [% FOR o IN Objects %]
        <li class="[% IF loop.first() %]First[% END %]">
            <a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% o %]"
                >[% translate('ru', plural(o)) %]</a></li>
    [% END %]
    </ul>
</div>

<div class="Clear"></div>
