[% IF Pages.size > 1 %]
<div class="Paging">
    <ul>
        <li>[% translate('ru', 'Pages') %]:</li>
        [% FOR p IN Pages %]
            [% IF p == Page %]
            <li class="ActivePage">[% p %]</li>
            [% ELSIF p == 1 %]
            <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
            [% ELSIF p == Pages.last %]
            <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
            [% ELSIF p > 1 && p < Page && Page - p == 6 %]
            <li>&hellip;</li>
            [% ELSIF p < Pages.last && p > Page && p - Page == 6 %]
            <li>&hellip;</li>
            [% ELSIF p > 1 && p < Page && Page - p > 6 %]
            [% ELSIF p < Pages.last && p > Page && p - Page > 6 %]
            [% ELSE %]
            <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
            [% END %]
        [% END %]
        [% IF 0 %]
        [% FOR p IN Pages %]
            [% IF p == Page %]
            <li class="ActivePage">[% p %]</li>
            [% ELSE %]
            <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
            [% END %]
        [% END %]
        [% END %]
    </ul>
</div>
<div class="Clear"></div>
[% END %]

<div id="Tab"></div>

<script type="text/javascript">
Ext.define('[% ObjectName %]', {
    extend: 'Ext.data.Model',
    fields: [ 'ID',
    [%- FOR f IN Fields %]
        '[% f.Name %]'[%- IF NOT loop.last() %],[% END -%]
    [%- END %]
    ]
});

var ObjStore = Ext.create('Ext.data.Store', {
    model: '[% ObjectName %]',
    data: [
        [%- FOR Item IN Items %]
            {
            'ID': [% Item.ID %],
            [%- FOR f IN Fields %]
                '[% f.Name %]': '[%- Item.${f.Name}.replace("\n","<br>") -%]'
                [%- IF NOT loop.last() %],[% END -%]
            [% END %]
            }
            [%- IF NOT loop.last() %],[% END -%]
        [% END -%]
    ],
    autoLoad: false,
    pageSize: 20
});

Ext.create('Ext.grid.Panel', {
    renderTo: 'Tab',
    store: ObjStore,
    width: '100%',
    // height: 200,
    // title: '',
    columns: [
        {
            'dataIndex': 'ID',
            'text': 'ID',
            'hidden': true
        },
        [%- FOR f IN Fields %]
        {
            'dataIndex': '[% f.Name %]',
            'text': '[% translate('ru', (f.HTML.Label || f.Name)) %]',
            'sortable': false,
            'hidden': [% IF f.HTML.IsHidden %]true[% ELSE %]false[% END %],
            'cellWrap': true,
            [% IF f.HTML.Width %]
            'width': [% f.HTML.Width %]
            [% ELSE %]
            'flex': 1
            [% END %]
        }
        [%- IF NOT loop.last() %],[% END -%]
        [%- END %]
    ],
/*
    dockedItems: [
        {
            xtype: 'pagingtoolbar',
            store: ObjStore, // same store GridPanel is using
            dock: 'top',
            displayInfo: true
        }
    ],
    selModel: {
       selType: 'rowmodel', // rowmodel is the default selection model
       mode: 'MULTI' // Allows selection of multiple rows
    }
*/
}).on({
    'itemclick': {
        'fn': function(t,r){
            var URL = window.location.protocol + '//' + window.location.host + "/cgi-bin/fcgi.pl?a=ItemForm&o=[% ObjectName %]&id=" + r.get("ID");
            window.location = URL;
        }
    }
});
</script>
