    [% IF Pages.size > 1 %]
    <div class="Paging">
        <ul>
            <li>[% translate('ru', 'Pages') %]:</li>
            [% FOR p IN Pages %]
                [% IF p == Page %]
                <li class="ActivePage">[% p %]</li>
                [% ELSIF p == 1 %]
                <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
                [% ELSIF p == Pages.last %]
                <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
                [% ELSIF p > 1 && p < Page && Page - p == 6 %]
                <li>&hellip;</li>
                [% ELSIF p < Pages.last && p > Page && p - Page == 6 %]
                <li>&hellip;</li>
                [% ELSIF p > 1 && p < Page && Page - p > 6 %]
                [% ELSIF p < Pages.last && p > Page && p - Page > 6 %]
                [% ELSE %]
                <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
                [% END %]
            [% END %]
            [% IF 0 %]
            [% FOR p IN Pages %]
                [% IF p == Page %]
                <li class="ActivePage">[% p %]</li>
                [% ELSE %]
                <li><a href="/cgi-bin/fcgi.pl?a=ShowItems&amp;o=[% ObjectName %]&amp;page=[% p %]">[% p %]</a></li>
                [% END %]
            [% END %]
            [% END %]
        </ul>
    </div>
    <div class="Clear"></div>
    [% END %]

<table class="Grid" id="ItemsList">

    <tr>
        <th>
            <!-- input type="checkbox" onclick="" -->
        </th>
        [% FOR f IN Fields %]
            [% IF NOT f.HTML.IsHidden %]
            <th>[% translate('ru', (f.HTML.Label || f.Name)) %]</th>
            [% END %]
        [% END %]
        <th>&nbsp;</th>
    </tr>

    [% IF Items.size %]

        [% FOR Item IN Items %]
        <tr>
            <td>
                <input type="checkbox" name="id" value="[% Item.ID %]">
            </td>
            [% FOR f IN Fields %]
                [% IF NOT f.HTML.IsHidden %]
                <td>
                    [%- IF f.HTML.IsLink %]
                        <a href="/cgi-bin/fcgi.pl?a=ItemForm&amp;o=[% ObjectName %]&amp;id=[% Item.ID %]">
                            [%- Item.${f.Name}.replace("\n","<br>\n") || '&lt;'_ translate('ru', 'Empty') _ '&gt;' -%]
                        </a>
                    [% ELSE %]
                        [% Item.${f.Name}.replace("\n","<br>\n") %]
                    [% END -%]
                </td>
                [% END %]
            [% END %]
            <td>
                <a href="/cgi-bin/fcgi.pl?a=ItemDelete&amp;o=[% ObjectName %]&amp;id=[% Item.ID %]">[% translate('ru', 'Delete') %]</a>
            </td>
        </tr>
        [% END %]

    [% ELSE %]

        <tr><td colspan="[% 2 + Fields.size %]">[% translate('ru', 'No data') %]</td></tr>

    [% END %]

</table>
