<table class="Grid">

    <tr>
        <th>
            <!-- input type="checkbox" onclick="" -->
        </th>
        <th>[% translate('ru', 'Title') %]</th>
        <th>[% translate('ru', 'Colors') %]</th>
        <th>[% translate('ru', 'Price') %]</th>
        <th>&nbsp;</th>
    </tr>

    [% FOR Item IN Items %]
    <tr>
        <td>
            <input type="checkbox" name="id" value="[% Item.ID %]">
        </td>
        <td>
            <a href="/cgi-bin/fcgi.pl?a=ItemForm&amp;o=Flower&amp;id=[% Item.ID %]">[% Item.Title %]</a>
        </td>
        <td>[% Item.Colors %]</td>
        <td>[% Item.Price %]</td>
        <td>
            <a href="/cgi-bin/fcgi.pl?a=ItemDelete&amp;o=Flower&amp;id=[% Item.ID %]">[% translate('ru', 'Delete') %]</a>
        </td>
    </tr>
    [% END %]

</table>
